node_modules
dist
out
.DS_Store
.eslintcache
.turbo
*.log*
*.tsbuildinfo
.turbo/preferences/tui.json
packages/editor-react/src/compiledStyles.css
packages/editor-core/tsconfig.tsbuildinfo
packages/editor-core/tsconfig.tsbuildinfo
apps/docs/public/api
electron.vite.config.*
